In [2]:
student = [10,'joey','CSE',9.0,11,'chandler','CSE',7.8,12,'rachel','Mech',9.8,13,'Ross','IT',10,14,'Monica','ECE',8.7]
student.append(15)
student.append('saran')
student.append('CSE')
student.append(7.7)
student

[10,
 'joey',
 'CSE',
 9.0,
 11,
 'chandler',
 'CSE',
 7.8,
 12,
 'rachel',
 'Mech',
 9.8,
 13,
 'Ross',
 'IT',
 10,
 14,
 'Monica',
 'ECE',
 8.7,
 15,
 'saran',
 'CSE',
 7.7]

In [3]:
region1=[14,25,14,763,47,25,39,46,4,46,31]
region2=[53,25,47,62,58,47,76,35,13,4,68,36]
region1.extend(region2)
region1

[14,
 25,
 14,
 763,
 47,
 25,
 39,
 46,
 4,
 46,
 31,
 53,
 25,
 47,
 62,
 58,
 47,
 76,
 35,
 13,
 4,
 68,
 36]

In [6]:
employee=[1,'sreekar',2,'anirudh',3,'shaktiman',4,'perman',5,'sreekar']
employee.index('sreekar',2)

9

In [26]:
items=['black','white','red','black','purple']
items.extend(['yellow','black'])
items
items.insert(3,'purple')
items.count('black')
items
items.pop()
items.remove(items[2])
items

['black', 'white', 'purple', 'black', 'purple', 'yellow']

In [16]:
prices=[523,15,36,846,142]
prices.sort()
prices.reverse()
prices

[15, 36, 142, 523, 846]

In [20]:
items=[0,1,2,3,4,5,6,7,8,9]
items[0:9:2]

[0, 2, 4, 6, 8]

In [21]:
items[1:9:2]

[1, 3, 5, 7]

In [28]:
region1=(32,26,357,124,64,13,53,47,25,7,13,74)
region2=(26,8,24,85,42,86)
region1=region1+region2
region1

(32, 26, 357, 124, 64, 13, 53, 47, 25, 7, 13, 74, 26, 8, 24, 85, 42, 86)

In [29]:
student=('sai','saran','sai','ted','batman','clark','diana','prince','sreekar','sai')
student.count('sai')

3

In [33]:
quater1=(153,735,14)
quater2=(47,53,75)
max(quater1)
max(quater2)

75

In [38]:
emp={'empid':[1,2,3,4],
      'empname':['sai','sreekar','pothole','thor'],
    'empdept':['production','development','marketing','RND']}
emp['empdept']

['production', 'development', 'marketing', 'RND']

In [7]:
region1={'january':532,'february':635,'march':653}
region2={'april':537,'may':680,'june':274}
region2.update(region1)
region2

{'april': 537,
 'may': 680,
 'june': 274,
 'january': 532,
 'february': 635,
 'march': 653}

In [13]:
reg1=set([1,2,3,4,5,6,7,8,9,10,11,12])
reg2=([13,14,15,16,17,18,19,20,21,22])
reg1.union(reg2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22}