In [65]:
l1=[['x','5p5','cse','9.0'],['y','5n8','cse','9.0'],['z','5k6','cse','9.0'],['a','k3','cse','9.1'],['b','5p8','cse','9.3']]

In [66]:
 l1=[['x','5p5','cse','9.0'],['y','5n8','cse','9.0'],['z','5k6','cse','9.0'],['a','k3','cse','9.1'],['b','5p8','cse','9.3']]

In [3]:
l1=[['x','5p5','cse','9.0'],['y','5n8','cse','9.0'],['z','5k6','cse','9.0'],['a','k3','cse','9.1'],['b','5p8','cse','9.3']]

In [4]:
l1=[1,2,3,4,5,6,7,8,9,10,11,12]

In [8]:
l2=[2,3,1,4,5,6,7,8,1,0,33,11]

In [9]:
l1.extend(l2)

In [10]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 2, 3, 1, 4, 5, 6, 7, 8, 1, 0, 33, 11]

In [16]:
e1=['x','5p5','y','5n8','z','5k6','x','k3','y','5p8']

In [67]:
e1.index('x')

0

In [68]:
e1.index('x')

0

In [69]:
e1.index('y')

2

In [17]:
e1=['x','5p5','y','5n8','z','5k6','x','k3','y','5p8']

In [70]:
e1.index('x')

0

In [20]:
e1.index('x')

0

In [21]:
e1.index('y')

2

In [22]:
sales_list=['income','expenditure','profit','loss','debt']

In [24]:
sales_list.append('loan')

In [25]:
sales_list

['income', 'expenditure', 'profit', 'loss', 'debt', 'loan']

In [30]:
sales_list.extend(['x','loan'])

In [31]:
sales_list

['income',
 'expenditure',
 'profit',
 'loss',
 'debt',
 'loan',
 'x',
 'y',
 'x',
 'loan']

In [32]:
sales_list.count('x')

2

In [35]:
item_prices=[1000,2000,150,289,300]

In [36]:
item_prices.sort()

In [37]:
item_prices

[150, 289, 300, 1000, 2000]

In [38]:
item_prices.sort(reverse=True)

In [39]:
item_prices

[2000, 1000, 300, 289, 150]

In [40]:
list1=[1,3,5,12,4,3,45,89,10,20]

In [41]:
list2=[22,33,44,11,65,32,67,34,8,40]

In [42]:
list1[0:9:2]

[1, 5, 4, 45, 10]

In [43]:
list1[1:9:2]

[3, 12, 3, 89]

In [45]:
student=('x','y','z','a','b','c','d','e','x','g')

In [46]:
student.count('x')

2

In [47]:
r1=(10,12,13)

In [48]:
r2=(23,21,34)

In [49]:
r1=r1+r2

In [50]:
r1

(10, 12, 13, 23, 21, 34)

In [20]:
quarter1=(100,20,700)

In [21]:
quarter2=(300,12,34)

In [22]:
max(quarter1)

700

In [54]:
max(quarter2)

300

In [23]:
t1=(2,4,1,5,6)

In [24]:
t1[4::-2]

(6, 1, 2)

In [73]:
t1[3::-2]

(5, 4)

Assignment questions

In [30]:
tuple=(2,0,1,5,6)

In [31]:
tuple[0::2]   #even

(2, 1, 6)

In [32]:
tuple[1::2]

(0, 5)

In [33]:
for i in tuple:
    if i%2==0:
        print(i)

2
0
6

In [34]:
for i in tuple:
    if i%2!=0:
        print(i)

1
5

In [28]:
text='''welcome to python'''

In [101]:
text

'welcome to python'

In [103]:
text.index('to') #index of letter

8

In [109]:
text.split()

['welcome', 'to', 'python']

In [111]:
x=text.split()

In [112]:
x.index('to') #index of a word

1

PRACTICE QUES

In [113]:
l1=[1,2,3,1.3,4.5,3.9,'python']

In [114]:
l1

[1, 2, 3, 1.3, 4.5, 3.9, 'python']

In [138]:
x=l1[0::2] #even

In [141]:
y=l1[1::2]

[2, 1.3, 3.9]

In [142]:
y

[2, 1.3, 3.9]

In [143]:
x

[1, 3, 4.5, 'python']

In [145]:
l1

[1, 2, 3, 1.3, 4.5, 3.9, 'python']

In [146]:
for value in x:
    l1.remove(value)

In [147]:
l1

[2, 1.3, 3.9]

In [148]:
for value in y:
    l1.remove(value)

In [149]:
l1

[]

In [150]:
list_sorting=[1,2,4,0,8]

In [151]:
list_sorting.sort()

In [152]:
list_sorting

[0, 1, 2, 4, 8]

In [155]:
list_sorting.sort(reverse=True)

In [156]:
list_sorting

[8, 4, 2, 1, 0]

In [157]:
tuple=(23,12,'hello',4.6)# heterogenous

In [158]:
tuple

(23, 12, 'hello', 4.6)

In [160]:
tuple[1::2]#odd

(12, 4.6)

In [161]:
tuple[0::2]#even

(23, 'hello')

In [9]:
tuple=(23,12,'hello',4.6)

In [10]:
tuple

(23, 12, 'hello', 4.6)

In [18]:
tuple

(23, 12, 'hello', 4.6)