In [6]:
#variable declaration
a=10
b=5.3
c="Hello python"
type(a)

int

In [7]:
a+b

15.3

Data Structures

In [13]:
#working with lists
l1=[1,2,3,4,5]
l1
l2=['a','b','c','d','e']
l2
l3=[1,2,3,4,5,'a','b','c','d','e']
l3
l4=[1,2,3,'a','b','g',1.2,45.7,9.0]
l4

[1, 2, 3, 'a', 'b', 'g', 1.2, 45.7, 9.0]

# create a student list with 5 student roll no. , 5 student name ,5 student courses and 5 student cgpa's

In [19]:
l2[-1]
l2[-3]

'c'

In [29]:
l1.append(90)
l1[0]=10
l1

[10, 2, 3, 4, 5, 90, 90, 90, 90, 90, 90]

In [31]:
list1=['a','b']

In [33]:
list1.extend(['c','d'])
list1

['a', 'b', 'c', 'd', 'c', 'd']

# create a list called region1 with 12 sales values, create another list called region2 with 12 values by extending region2 into region1

In [36]:
list1.index('b')

1

In [38]:
list1.index('a')

0

In [39]:
list1.index('d')

3

In [40]:
list1.index('c')

2

In [43]:
list1.index('c',2)

2

In [42]:
list1

['a', 'b', 'c', 'd', 'c', 'd']

# create an employee list with 5 employees ids and five employees have same name, display the index position of employee who is repeating in the list

In [44]:
list3=['a','b','c','d']

In [47]:
list3.insert(3,'e')
list3

['a', 'b', 'c', 'e', 'e', 'd']

# create sales list with 5 items, append a new item to the list,extend two new items to the list,insert a new element to the list finally

In [48]:
list3.remove('e')

In [49]:
list3

['a', 'b', 'c', 'e', 'd']

In [50]:
list3.remove('a')

In [51]:
list3

['b', 'c', 'e', 'd']

In [52]:
list3.pop()
list3

['b', 'c', 'e']

# perform pop from a list and remove 2nd item from the list

In [54]:
list4=['ajay','vijay','ramu','ajay']
list4.count('ajay')

2

# count the occurence of a recurring item

In [58]:
list1.sort()
list1

['a', 'b', 'c', 'c', 'd', 'd']

In [59]:
list5=[1,2,3,2,1]

In [60]:
list5.sort()
list5

[1, 1, 2, 2, 3]

# create a list of items_prices,take some items , sort the list and sort them in reverse order

In [61]:
l1

[10, 2, 3, 4, 5, 90, 90, 90, 90, 90, 90]

In [62]:
l1[2:]

[3, 4, 5, 90, 90, 90, 90, 90, 90]

In [65]:
l1[6:]

[90, 90, 90, 90, 90]

# create a list of 10 elements, slice the list to show only even elements and only odd elements

working with tuples

In [67]:
t1=(1,2,3)
t1

(1, 2, 3)

In [69]:
t2=('a','b','c')
t2

('a', 'b', 'c')

In [70]:
t2.append(7)

AttributeError: 'tuple' object has no attribute 'append'

# create a tuple region1 with 12 sales values

# create tupple region2,and concatinate region 1 into region 2

# create a student tuple with 10 students name  in recurring nature, count the recurring ocurences

# indexes in tuple

In [71]:
t1.index(2)

1

In [72]:
s1=[1,2,3,1,1,3]

In [75]:
s1.index(3,2)

2

In [76]:
(x,y)=(1,2)

In [77]:
x

1

In [78]:
(x,y)=(y,x)

In [79]:
x

2

In [80]:
len(s1)

6

In [81]:
s2=(1,2,3,4,5)

In [82]:
s2[2:]

(3, 4, 5)

In [98]:
s3=s2
max(s3)

5

# create a tuple water1 of 3 sales values ,    create another tuple water2 with three sales values.find maximum sale value of water1 tuple and maximum sale value of water2 tuple

# dictionaries

In [99]:
d={"a":1,"b":2}

In [100]:
d.keys()

dict_keys(['a', 'b'])

In [101]:
d.values()

dict_values([1, 2])

In [102]:
d.items()

dict_items([('a', 1), ('b', 2)])

# create an employee dictionary with three keys empID,empName,Depatment and display only department names

In [104]:
d.get('a')

1

In [106]:
d.popitem()

('b', 2)

In [107]:
d

{'a': 1}

In [109]:
del d['a']

In [110]:
d

{}

In [112]:
s1={'a':1,'b':2}
s2={'c':3,'d':4}

In [114]:
s1.update(s2)

In [115]:
s1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# # region1 sales region2 sales, the keys for region1 are month(jan,feb,mar) and sale_value, the keys for region2 are month(april,may,june) and sale_value,combine both region sales.

# Strings

In [116]:
text1="Welcome to python"

In [117]:
text1[7]

' '

In [123]:
t1="welcome"
t2="to"
t3="python"
t4=t1+" "+t2+" "+t3
t4

'welcome to python'

In [124]:
text1[0]="a"

TypeError: 'str' object does not support item assignment

Sets and frozen sets

In [133]:
a=set([1,2,3,4,5])
b=set([3,4,5,6])
a.union(b)
a.intersection(b)
b.issubset(a)
a.add(b)#unhashable

TypeError: unhashable type: 'set'

# create a sets name region1 and region2 , perform set union

In [138]:
a=frozenset([1,2,3,4])
b=frozenset([2,3,4,5])
a.union(b)
c=set([1,2,3])
c.add(frozenset(b))
c

{1, 2, 3, frozenset({2, 3, 4, 5})}