In [3]:
list=[['Shreya','5d4','cse','9.2'],
      ['jaan','5g4','cse','9.1'],
      ['bhargav','5f4','cse','7.9'],
      ['karthik','5e3','cse','8.0'],
      ['CM','5d7','cse','7.2']
     ]

In [4]:
list

[['Shreya', '5d4', 'cse', '9.2'],
 ['jaan', '5g4', 'cse', '9.1'],
 ['bhargav', '5f4', 'cse', '7.9'],
 ['karthik', '5e3', 'cse', '8.0'],
 ['CM', '5d7', 'cse', '7.2']]

In [8]:
r1=[1,2,4,67,98,4,3,45,5,3,2,1]
r2=[6,3,8,3,6,7,4,67,8,9,4,5,7]

In [9]:
r1.extend(r2)

In [11]:
r1

[1, 2, 4, 67, 98, 4, 3, 45, 5, 3, 2, 1, 6, 3, 8, 3, 6, 7, 4, 67, 8, 9, 4, 5, 7]

In [12]:
e1=['Shreya','5d4','jaan','5g4','bhargav','5f4','karthik','5e3','Shreya','5d7']

In [13]:
e1.index('Shreya')

0

In [24]:
e1.index('Shreya',3)

8

In [52]:
sales_list=[1000,3957,2984,4876,8746]

In [53]:
sales_list.append(9875)

In [54]:
sales_list.extend([875,8357,1000])

In [55]:
sales_list.remove(8746)
sales_list.pop()

1000

In [49]:
sales_list.count(1000)

3

In [38]:
item_prices=[500,1000,250,650,700]

In [39]:
item_prices.sort()

In [40]:
item_prices

[250, 500, 650, 700, 1000]

In [41]:
item_prices.sort(reverse=True)

In [42]:
item_prices

[1000, 700, 650, 500, 250]

In [43]:
lst1=[1,3,6,7,3,6,8,5,3,7]

In [46]:
lst1[1:9:2]

[3, 7, 6, 5]

In [45]:
lst1[0:9:2]

[1, 6, 3, 8, 3]

In [47]:
student=('shreya','jaan','bhargav','karthik','shreya','hemanth','anjali','bunny','mukesh','bunny')

In [48]:
student.count('shreya')

2

In [49]:
student.count('bunny')

2

In [50]:
region1=(3,5,7,8,2)

In [51]:
region2=(7,8,4,5,6)

In [52]:
region1=region1+region2

In [53]:
region1

(3, 5, 7, 8, 2, 7, 8, 4, 5, 6)

In [54]:
quarter1=(356,2456,874)
quarter2=(764,57,234)

In [55]:
max(quarter1)

2456

In [56]:
max(quarter2)

764

In [57]:
t1=(1,2,3,4,5,6,7,8,9)

In [58]:
t1[8::-2]

(9, 7, 5, 3, 1)

In [59]:
t1[7::-2]

(8, 6, 4, 2)

ASSIGNMENT QUESTIONS

In [71]:
tuple=(1,4,6,7,3,8,2)

In [73]:
tuple[0::2] #even indices elements

(1, 6, 3, 2)

In [74]:
tuple[1::2] #odd indices elements

(4, 7, 8)

In [76]:
for i in tuple:
    if i%2==0:               #for even elements value
          print(i)

4
6
8
2

In [77]:
for i in tuple:
    if i%2!=0:               #for odd elements value
          print(i)

1
7
3

In [78]:
text= '''welcome to machine learning using python 
         machine learning acts a major role in decision making '''

In [79]:
text

'welcome to machine learning using python \n         machine learning acts a major role in decision making '

In [80]:
text.index('python')    #index of letter

34

In [85]:
text.splitlines()

['welcome to machine learning using python ',
 '         machine learning acts a major role in decision making ']

In [88]:
l=text.split()      #splitting the line into words

In [89]:
l.index('python')      #finding entire word index

5

PRACTICE SESSION QUESTIONS AND ANSWERS

In [119]:
listtt=[10,5.6,'python',23,42.4]   #creating list of interger,float and string

In [120]:
listtt

[10, 5.6, 'python', 23, 42.4]

In [121]:
x=listtt[0::2]       #even index elements in list

In [122]:
y=listtt[1::2]      #odd index elements in list

In [123]:
x

[10, 'python', 42.4]

In [124]:
y

[5.6, 23]

In [125]:
listtt

[10, 5.6, 'python', 23, 42.4]

In [128]:
for value in x:
    listtt.remove(value)         #removing even elements from list

In [129]:
listtt

[5.6, 23]

In [130]:
for value in y:                 #removing odd elements from the list
    listtt.remove(value)

In [131]:
listtt

[]

In [134]:
list_sorting=[1,4,67,3,6,8,3,29]   #creating list for sorting

In [135]:
list_sorting.sort()             #sorting in ascending order

In [136]:
list_sorting

[1, 3, 3, 4, 6, 8, 29, 67]

In [138]:
list_sorting.sort(reverse=True)      #sorting in descending order

In [139]:
list_sorting

[67, 29, 8, 6, 4, 3, 3, 1]

In [4]:
tuplee=(23,4.5,677,'hello',43,'ram')

In [5]:
tuplee[0::2]         #even tuple index elements

(23, 677, 43)

In [6]:
tuplee[1::3]           #odd tuple  index elements

(4.5, 43)

In [10]:
tuple2=(2,5,7,3,5,8,6)

In [12]:
for x in tuple2:                              #indexd values off even values
    if x%2==0:
        print(x," is even number with index",tuple2.index(x))

2  is even number with index 0
8  is even number with index 5
6  is even number with index 6

In [13]:
for x in tuple2:                       #index values of odd values
    if x%2!=0:                         
        print(x," is odd number with index",tuple2.index(x))

5  is odd number with index 1
7  is odd number with index 2
3  is odd number with index 3
5  is odd number with index 1

In [14]:
d={'shreya':920 , 'jaan':910, 'karthik':800}      #dictionary creation

In [15]:
type(d)

dict

In [16]:
str="internship on machine learning using python"     #string creation

In [19]:

print( "welcome"*2)                 
print( "welcome" + "students")
print( 'machine' in str)                            #different operations on strings

welcomewelcome
welcomestudents
True

In [20]:
len(str)

43

In [22]:
str.find("on")

11

In [23]:
str.rfind("learning")

22

In [24]:
str.index("machine")

14

In [25]:
str.count("python")

1

In [26]:
str1=str.replace("python","PYTHON")

In [27]:
str.swapcase()

'INTERNSHIP ON MACHINE LEARNING USING PYTHON'

In [28]:
s={100,374,38754,'hello',47}        #set creation

In [29]:
type(s)

set

In [30]:
fs=frozenset(s)                     #creation of frozenset using set

In [31]:
type(fs)

frozenset

In [32]:
s1={29,374,'hello','world',47,600,250}

In [34]:
s1.union(s)                   #set union operation

{100, 250, 29, 374, 38754, 47, 600, 'hello', 'world'}

In [35]:
s1.intersection(s)            #set intersection operayioh

{374, 47, 'hello'}

In [37]:
s1.difference(s)              #set difference operation

{250, 29, 600, 'world'}

LEFT OVER OF THE BEGGINING SESSION

In [80]:
dicttt={ 'empid':100,'empdept':23, 'ename':'shreya'}

In [81]:
type(dicttt)

dict

In [82]:
dicttt.keys()

dict_keys(['empid', 'empdept', 'ename'])

In [83]:
dicttt.values()

dict_values([100, 23, 'shreya'])

In [89]:
dicttt['empdept']

23

In [88]:
dicttt['empid']

100

In [4]:
region1={ 'jan':1000, 'feb':955,"march":484}

In [5]:
region2={ 'april':983 , 'may':973, 'june':833}

In [7]:
region1.update(region2)

In [8]:
region1

{'jan': 1000, 'feb': 955, 'march': 484, 'april': 983, 'may': 973, 'june': 833}

In [94]:
reg1={1,3,5,67,8,4,2,5,67,8,9,4}

In [95]:
reg2={2,6,8,3,2,6,8,9,5,3,1,7}

In [96]:
reg1.union(reg2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 67}